
<h1>
<%= @heading %>
</h1>
<p><strong>CLUBS</strong> - 3</p>
<p><strong>HEARTS</strong> - 5</p>
<p><strong>SPADES</strong> - 3</p>
<p><strong>SPADES</strong> - 4</p>
<p><strong>DIAMONDS</strong> - 9</p>
<p><strong>CLUBS</strong> - 2</p>
<p><strong>HEARTS</strong> - 8</p>
<p><strong>SPADES</strong> - 5</p>
<p><strong>DIAMONDS</strong> - JACK</p>
<p><strong>DIAMONDS</strong> - 4</p>